<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Список Кинофильмов</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <table class="table">
                <tbody>
                <tr>
                    <td><b>Название</b></td>
                    <td th:text="${film.name}"/>
                </tr>
                <tr>
                    <td><b>Описание</b></td>
                    <td th:text="${film.description}"/>
                </tr>
                <tr>
                    <td><b>Год</b></td>
                    <td th:text="${film.year}"/>
                </tr>
                <tr>
                    <td><b>Жанр</b></td>
                    <td th:text="${film.genre}"/>
                </tr>
                <tr>
                    <td><b>Ретинг</b></td>
                    <td th:text="${film.minimalAge}"/>
                </tr>
                <tr>
                    <td><b>Продолжительность</b></td>
                    <td th:text="${film.durationInMinutes}"/>
                </tr>
                </tbody>
            </table>
            <div class="col-3">
                <div class="mb-3">
                    <img th:src="@{/files/{fileId}(fileId=${film.fileId})}" class="w-100" alt="No image">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>